<h2>DBZ Personajes</h2>
<hr>
<div class="row">
  <div class="col">
    <h3>Listado</h3>
    <ul class="list-group">
      <li class="list-group-item">Krillin - 500</li>
      <li class="list-group-item">Gokú - 10000</li>
    </ul>
  </div>
  <div class="col">
    <form>
      <fieldset>
        <legend>Agregar personaje</legend>
        <div class="mb-2">
          <input type="text" placeholder="Nombre del personaje" class="form-control">
        </div>
        <div class="mb-2">
          <input type="number" placeholder="Poder" class="form-control mb-2">
        </div>
        <button class="btn btn-primary" type="submit">Agregar</button>
      </fieldset>
    </form>
  </div>
</div>