<form (ngSubmit)="emitCharacter()">
  <fieldset>
    <legend>Agregar personaje</legend>
    <div class="mb-2">
      <input type="text"
             placeholder="Nombre del personaje"
             [(ngModel)]="newCharacter.name"
             name="name"
             class="form-control">
    </div>
    <div class="mb-2">
      <input type="number"
             placeholder="Poder"
             [(ngModel)]="newCharacter.power"
             name="power"
             class="form-control mb-2">
    </div>
    <button class="btn btn-primary"
           
            type="submit">Agregar</button>
  </fieldset>
  <pre>{{newCharacter | json}}</pre>
</form>
